@page "/"
@namespace BlazorServerSide.Web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BlazorServerSide.Web</title>
    <base href="~/" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
          integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link href="css/site.css" rel="stylesheet" />
</head>
<body>

    <div class="bmd-layout-container bmd-drawer-f-l">
        <header class="bmd-layout-header">
            <div class="navbar navbar-light bg-faded">
                <button class="navbar-toggler" type="button" data-toggle="drawer" data-target="#dw-s1">
                    <span class="sr-only">Toggle drawer</span>
                    <i class="material-icons">menu</i>
                </button>
                <ul class="nav navbar-nav">
                    <li class="nav-item">Title</li>
                </ul>
            </div>
        </header>
        <div id="dw-s1" class="bmd-layout-drawer bg-faded">
            <header>
                <a class="navbar-brand">Title</a>
            </header>
            <ul class="list-group">
                <a class="list-group-item" href="#">Home</a>
                <a class="list-group-item" href="counter">Counter</a>
                <a class="list-group-item" href="fetchdata">Fetch Data</a>
                <a class="list-group-item" href="employee">Employee</a>
            </ul>
        </div>
        <main class="bmd-layout-content">
            <div class="container">
                <app>@(await Html.RenderComponentAsync<App>())</app>
            </div>
        </main>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.0.slim.min.js" integrity="sha256-ZaXnYkHGqIhqTbJ6MB4l9Frs/r7U4jlx7ir8PJYBqbI="
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
    <script>$(document).ready(function () { $('body').bootstrapMaterialDesign(); });</script>
    <script src="_framework/blazor.server.js"></script>

    <script>
        $('.list-group-item').on('click', function () {
            $('.bmd-layout-container').toggleClass('bmd-drawer-in');
        });
    </script>
</body>
</html>
