@page "/employee"

<h1>Employee</h1>

<button class="mdc-button greet-button">Greet</button>

@functions {

    string ButtonState = "";

    protected void Click()
    {
        ButtonState = "Clicked";
    }
}